$white: #FFFFFF;
$black: #3F4756;
$grey-20: #FBFBF7;
$grey-80: #3F4756;
$blue-20: #e5f1ff;
$blue-40: #A6D0FF;
$blue-60: #4D7CB7;
$blue-80: #004C82;
$blue-100: #002757;
$orange: #ffd194;
$turquoise: #70e1f5;